      <div class="content_post">
          <div class="more">
            <ul class="more_list">
              <div class="user_name">
                <%= blog.user.nickname %>
              </div>
              <div class="blog_contents">
                <%= simple_format(blog.text)%>
              </div>
                <div class="list_bar">
                  <li>
                    <%= link_to '詳細', "/blogs/#{blog.id}", method: :get %>
                  </li>
                  <% if user_signed_in? && current_user.id == blog.user_id %>
                  <li>
                    <%= link_to '編集', "/blogs/#{blog.id}/edit", method: :get %>
                  </li>
                  <li>
                    <%= link_to '削除', "/blogs/#{blog.id}", method: :delete %>
                  </li>
                  <% end %>
              </div>
            </ul>
         </div>
        </div>
